---
import BaseHead from "../components/BaseHead.astro";
import BlogHeader from "../components/BlogHeader.astro";
import Copyright from "../components/Copyright.astro";

const { content } = Astro.props;
const {
  title,
  description,
  publishDate,
  thumbnail,
  thumbnailAlt,
  permalink,
  tags,
  keywords,
} = content;
---

<!--
  Massively by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="en">
  <head>
    <BaseHead {title} {description} {permalink} />
  </head>
  <body>
    <!-- Header -->
    <BlogHeader />

    <!-- Main -->
    <main id="main">
      <!-- Post -->
      <section class="post">
        <header class="major">
          <span class="date">{publishDate}</span>
          <h1>
            {title}
          </h1>
          <p>
            {description}
          </p>
        </header>
        <div class="image main"><img src={thumbnail} alt={thumbnailAlt} /></div>
        <div class="slot">
          <slot />
        </div>
        {
          tags.map((tag) => {
            return <a href="#">{tag}</a>;
          })
        }
      </section>
    </main>

    <Copyright />
  </body>
</html>
